div,h1,h2,h3,h4,h5,h6,p,li,a,span,strong {
	overflow-wrap: normal;
    word-wrap: normal;
    -ms-word-break: normal;
    word-break: normal;
    word-break: normal;
    -ms-hyphens: none;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    hyphens: none;
    page-break-inside: avoid;
}
*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
pre {
	font-family: $font_pre;
	font-size: 13px;
	line-height: 1.4;
	color: #000;
	display: block;
	position: relative;
	z-index: 1000;
	border: 1px solid #FFF;
	margin: 5vw;
	padding: 20px;
}
body {
	font-family: $font_primary;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	color: $color_text_main;
  @include tab {
    font-size: 14px;
  }
}
p {
  margin: 0 0 1.3em;
  position: relative;
  &.list-title {
    top: 8px;
  }
}
section, div {
	&:focus {
		outline: 0;
	}
}
a,input,button,select,textarea {
	transition: all ease .3s;
}
a {
	color: $blue;
	text-decoration: underline;
	&:hover {
    color: tint($blue,20%);
	}
}
.cf:before, .cf:after {
    content: " "; 
    display: table; 
}
.cf:after { clear: both; }
.cf { *zoom: 1; }
.text-center {text-align:center;}
.fw,.full {width:100%!important;float:left !important}
.nomtop {margin-top:0!important;}
.nombottom {margin-bottom:0!important;}
/* Text meant only for screen readers. */
.sr {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	&:focus {
		background-color: #333;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		color: #FFF;
		display: block;
		@include font-size(0.875);
		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}
}
.flexwrap {
	position: relative;
	@include flexgroup();
}
.site {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 30em;
}
.wp-block-column,
.wrapper {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
	position: relative;
	z-index: 10;
	&.narrow {
		max-width: 900px;
	}
	&.sm {
		max-width: 800px;
	}
	&.wide {
		max-width: 80%;
    @include tab {
      max-width: 90%;
    }
	}
}

/* HEADER */
.site-header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  .wrapper.wide {
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 100%;
    @include tab {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .flexwrap {
    @include flexbox-justify(space-between);
    @include flexbox-align-items(center);
  }
}
body.home .site-header {
  position: absolute;
}
#site-logo {
  display: inline-block;
  width: auto;
  @include tab {
    padding-left: 5%;
  }
  h1 {
    margin: 0 0;
    font-size: 20px;
    line-height: 1.2;
  }
  a.custom-logo-link {
    display: block;
    width: 220px;
    position: relative;
    top: 6px;
    @include tab {
      width: 350px;
      top: 0;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
}
#site-navigation {
  @include flexgroup();
  position: relative;
  @include tab {
    width: 27%;
    padding-left: 20px;
    padding-right: 5%;
  }
  @include mid {
    padding-right: 20px;
  }
  @include xxl {
    padding-right: 5%;
  }
  nav {
    display: block;
    width: 100%;
  }


  ul.menu {
    margin: 0 0;
    padding: 0 0;
    list-style: none;
  }

  #navigation {
    ul.menu {
      display: inline-block;
      float: right;
      @include tab {
        @include flexgroup();
        @include flexbox-justify(flex-end);
      }
    }
    ul.menu > li {
      float: left;
      @include tab {
        float: none;
      }
    }
    ul.menu a {
      display: block;
      text-decoration: none;
      color: #000;
    }
    ul.menu > li > a {
      padding: 5px 10px;
    }
    ul.menu > li:hover > a {
      color: $primary;
    }
    ul.menu > li.current_page_item > a {
      color: $primary;
    }
  }

  #topnav {
    ul.menu {
      display: inline-block;
      float: right;
      position: relative;
      top: -5px;
    }
    ul.menu > li {
      display: inline-block;
    }
    a {
      display: inline-block;
      text-decoration: none;
      font-size: 12px;
      color: #000;
      padding: 3px 10px;
      &:hover {
        color: $primary;
      }
      i {
        display: inline-block;
        margin-right: 5px;
      }
    }
  }
}

/* MENU */
.mobile-menu {
  display: none;
  overflow: hidden;
  width: 30px;
  height: 34px;
  position: absolute;
  top: 0;
  right: 10px;
  i {
    overflow: hidden;
    display: inline-block;
    text-indent: -99em;
  }
  span.bar, 
  span.bar:before,
  span.bar:after {
    width: 100%;
    height: 3px;
    background: $primary;
    position: absolute;
    transition: all ease .3s;
  }
  span.bar {
    top: 50%;
    transform: translateY(-50%);
  }
  span.bar:before,
  span.bar:after {
    content:"";
  }
  span.bar:before {
    transform: translateY(-10px);
  }
  span.bar:after {
    transform: translateY(10px);
  }
}

@media screen and (max-width: $tabwidth) {
  .mobile-menu {
    display: block;
  }
  #site-navigation {
    display: block;
    max-width: 300px;
    width: 100%;
    position: fixed;
    top: 0;
    right: -100vw;
    height: 100%;
    background: #FFF;
    z-index: 9999;
    padding-top: 25px;
    transition: all ease .3s;
    overflow: auto;
    &.show {
      right: 0;
    }
  }
  #closeMobileNav {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 50;
    &:before, &:after {
      content:"";
      display: block;
      width: 100%;
      height: 2px;
      background: #000;
      position: absolute;
      top: 50%;
    }
    &:before {
      transform: translateY(-50%) rotate(45deg);
    }
    &:after {
      transform: translateY(-50%) rotate(-45deg);
    }
  }
  nav,
  ul.menu,
  ul.menu li {
    width: 100%;
    float: left;
  }
  nav.topnav {
    margin-bottom: 0;
    padding-bottom: 15px;
    // border-bottom: 1px solid $primary;
    
    li {
      padding:0 20px;
    }
    li:first-child a {
      font-size: 13px!important;
      padding: 5px 10px!important;
      border: 1px solid $primary;
      color: $primary!important;
      &:hover {
        background: $primary;
        color: #FFF!important;
      }
    }
  }
  nav#navigation {
    padding-bottom: 30px;
  }
  #site-navigation #navigation ul.menu>li>a {
    padding: 5px 20px;
    font-size: 16px;
  }
  body.mobile-menu-open {
    .site-header {
      &:after {
        content:"";
        display: block;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0,0,0,.65);
        transition: all ease .3s;
        @include animateThis(1s);
        @include animateEffect(fadeIn);
      }
    }
  }
  #home-slider .slide-text .wrap {
    max-width: 100%!important;
    .inline {
      display: block;
      width: 100%;
      text-align: center;
      padding: 10px 0;
      background: rgba(255,255,255,.85);
    }
  }
  body.logged-in.admin-bar {
    #site-navigation {
      padding-top: 70px;
    }
    #closeMobileNav {
      top: 66px;
    }
  }
}
@media screen and (max-width: $portrait) {
  #site-navigation {
    max-width: 85%;
  }
}


/* HOME SLIDER */
#home-slider {
  width: 100%;
  height: 100vh;
  position: relative;
  .swiper,.swiper-wrapper,.swiper-slide {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    position: relative;
  }
  .slide-image {
    width: 100%;
    height: 100%;
    @include backgroundImage(center);
    background-color: #CCC;
    @include tab {
      width: 73%;
    }
  }
  .slide-text {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    @include flexgroup();
    @include flexbox-align-items(center);
    .textwrap {
      max-width: 90%;
      width: 100%;
      padding: 0 20px;
      margin:0 auto;
      color: $primary;
      font-family: $font_secondary;
      font-size: 4vh;
      font-weight: 500;
      line-height: 1.2;
      @include mid {
        font-size: 7vh;
      }
    }
    .wrap {
      max-width: 50vw;
      width: 100%;
      float: right;
    }
    .inline {
      display: inline-block;
      float: right;
      position: relative;
      @include animateThis(1s);
      @include tab {
        padding-right: 3vw;
        &:after {
          content:"";
          display: block;
          width: 2px;
          height: 100%;
          position: absolute;
          top: 0;
          right: 0;
          transition: all ease .3s;
          background: $primary;
        }
      }
    }
    p, h1, h2, h3, h4, h5 {
      margin: 0 0;
    }
    h1, h2, h3, h4, h5  {
      position: relative;
      top: -1vh;
      font-weight: 600;
    }
  }
  .swiper-slide-active {
    .inline {
      @include animateEffect(fadeInRight);
      @include tab {
        &:after {
          animation-delay: 2s;
          animation: vLineEffect 1.3s linear;
        }
      }
    }
  }
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border: 1px solid $primary;
    opacity: 1;
    background: rgba(255,255,255,.3);
    &.swiper-pagination-bullet-active {
      background: $primary;
    }
  }
  &.static-slide {
    .slide-text {
      .inline {
        @include animateThis(1s);
        @include animateEffect(fadeInRight);
        @include tab {
          &:after {
            animation-delay: 3s;
            animation: vLineEffect 1.3s linear;
          }
        }
      }
    }
  }
}

.home-intro {
  background: $primary;
  @include tab {
    // padding-left: calc(5% + 20px);
  }
  p {
    margin: 0 0 15px;
  }
  .textwrap {
    color: #000;
    position: relative;
    background: $primary;
  }
  .hometext {
    position: relative;
    width: 100%;
    z-index: 10;
    line-height: 1.4;
    @include tab {
      width: 73%;
      padding-left: calc(5% + 20px);
    }
    .inside {
      background: $gray;
      padding: 60px 30px 50px;
      @include mid {
        padding: 65px 5vw 55px;
      }
    }
  }
  .graphic {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image:url('assets/images/symbol-white.svg');
    background-position: 0 0;
    background-size: cover;
    background-repeat:no-repeat;
    background-color: $gray;
    opacity: 0.45;
    @include tab {
      width: 27%;
      opacity: 1;
    }
  }
}

.home-blocks {
  position: relative;
  .flexwrap {
    margin: 0 -5px;
    @include flexbox-justify(space-around);
  }
  .block {
    width: 100%;
    padding: 10px;
    overflow: hidden;
    @include tab {
      width: 33.33%;
    }
    a {
      display: block;
      width: 100%;
      float: left;
      position: relative;
      overflow: hidden;
      .image {
        display: block;
        width: 100%;
        float: left;
        position: relative;
        overflow: hidden;
        .bg {
          display: block;
          width: 100%;
          height: 100%;
          float: left;
          transition: all ease .3s;
          position: absolute;
          top: 0;
          left: 0;
          transform: scale(1.1);
          @include backgroundImage(center);
        }
        img {
          width: 100%;
          height: auto;
          float: left;
        }
      }
      .title {
        display: block;
        width: 100%;
        float: left;
        text-align: center;
        padding: 15px 15px;
        font-size: 15px;
        line-height: 1.2;
        color: #000;
        background: $gray;
        position: relative;
        span {
          display: block;
          position: relative;
          z-index: 10;
          top: -4px;
        }
        &:before, &:after {
          content:"";
          display: block;
          width: 60%;
          height: 20px;
          position: absolute;
          top: -20px;
          background: $gray;
        }
        &:before {
          left: -10vw;
          transform: skew(40deg);
          @include tab {
            left: -2.2vw;
          }
        }
        &:after {
          right: -10vw;
          transform: skew(-40deg);
          @include tab {
            right: -2.2vw;
          }
        }
      }
      &:hover {
        .image {
          .bg {
            transform: scale(1.2);
          }
        }
      }
    }
  }
  .hb-left {
    padding: 50px 20px;
  }
  .hb-right {
    width: 100%;
    float: left;
    img {
      width: 100%;
      height: auto;
      @include tab {
        display: none;
      }
    }
  }
  .hb-left
  .hb-right {
    height: 100%;
  }
  .hb-right {
    .image {
      width: 100%;
      height: 100%;
      @include backgroundImage(center);
      background-color: $gray;
    }
  }

  &.twocol {
    @include flexgroup();
    .hb-right {
      width: 100%;
      @include tab {
        position: absolute;
        top: 0;
        right: 0;
        width: 27%;
        height: 100%;
      }
    }
    .hb-left {
      width: 100%;
      @include tab {
        width: 73%;
        padding-left: calc(5% + 20px);
        padding-right: calc(5% + 20px);
      }
    }
  }
  
  
}

.styled-blocks {
  position: relative;
  @include mid {
    min-height: 30em;
  }
  .wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
    @include mid {
      padding-top: 5vw;
      padding-bottom: 10vw;
    }
  }
  .flexwrap {
    margin: 0 -5px;
    @include flexbox-justify(space-around);
  }
  .block {
    width: 100%;
    padding: 10px;
    overflow: hidden;
    @include tab {
      width: 33.33%;
    }
    a {
      display: block;
      width: 100%;
      float: left;
      position: relative;
      overflow: hidden;
      background: $gray;
      .image {
        display: block;
        width: 100%;
        float: left;
        position: relative;
        overflow: hidden;
        .bg {
          display: block;
          width: 100%;
          height: 100%;
          float: left;
          transition: all ease .3s;
          position: absolute;
          top: -10px;
          left: 0;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
        img {
          width: 100%;
          height: auto;
          float: left;
        }
      }
      .title {
        display: block;
        width: 100%;
        float: left;
        text-align: center;
        padding: 0 0 10px;
        font-size: 15px;
        line-height: 1.2;
        color: #000;
        position: relative;
        span {
          display: block;
          position: relative;
          z-index: 10;
          top: -4px;
          padding:0 15px;
          &:before {
            content:"";
            display: block;
            width: 100%;
            height: 10px;
            background: $gray;
            position: absolute;
            top: -8px;
            left: 0;
          }
          b {
            display: inline-block;
            position: relative;
            font-weight: normal;
            z-index: 5;
          }
        }
        &:before, &:after {
          content:"";
          display: block;
          width: 60%;
          height: 20px;
          position: absolute;
          top: -30px;
          background: $gray;
        }
        &:before {
          left: -10vw;
          transform: skew(40deg);
          @include tab {
            left: -2.8vw;
          }
        }
        &:after {
          right: -10vw;
          transform: skew(-40deg);
          @include tab {
            right: -2.8vw;
          }
        }
      }
      &:hover {
        .image {
          .bg {
            transform: scale(1.05);
          }
        }
      }
    }
  }
  .hb-left {
    padding: 50px 20px;
  }
  .hb-right {
    width: 100%;
    float: left;
    img {
      width: 100%;
      height: auto;
      @include tab {
        display: none;
      }
    }
  }
  .hb-left
  .hb-right {
    height: 100%;
  }
  .hb-right {
    .image {
      width: 100%;
      height: 100%;
      @include backgroundImage(center);
      background-color: $gray;
    }
  }

  &.twocol {
    @include flexgroup();
    .hb-right {
      width: 100%;
      @include tab {
        position: absolute;
        top: 0;
        right: 0;
        width: 27%;
        height: 100%;
      }
    }
    .hb-left {
      width: 100%;
      @include tab {
        width: 73%;
        padding-left: calc(5% + 20px);
        padding-right: calc(5% + 20px);
      }
    }
  }
  
  
}

@keyframes vLineEffect {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }

/* INNER PAGE */
body.subpage {
  .site-header {
    background: #FFF;
    .wrapper.wide {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .flexwrap {
      @include flexbox-align-items(center);
    }
  }
  #content {
    position: relative;
    &:after {
      content:"";
      display: block;
      width: 100%;
      height: 50%;
      position: absolute;
      top: 0;
      left: 0;
      background: -moz-linear-gradient(top,  rgba(0,0,0,0.36) 0%, rgba(0,0,0,0) 100%);
      background: -webkit-linear-gradient(top,  rgba(0,0,0,0.36) 0%,rgba(0,0,0,0) 100%);
      background: linear-gradient(to bottom,  rgba(0,0,0,0.36) 0%,rgba(0,0,0,0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c000000', endColorstr='#00000000',GradientType=0 );
      opacity: 0.2;
    }
  }
  #primary {
    min-height: 30em;
    position: relative;
    z-index: 15;
    padding-top: 0;
  }
  &.no-banner {
    .entry-title {
      background: transparent!important;
    }
    .entry-content {
      .wrapper {
        max-width: 1240px;
      }
    }
  }
}

h1.page-title {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.2;
  margin: 0 0;
  color: $primary;
  position: relative;
  padding-left: 30px;
  &:before {
    content:"";
    display: block;
    width: 2px;
    height: 100%;
    background: $primary;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.blocks-wrapper {
  @include flexgroup();
  margin-left: -20px;
  margin-right: -20px;
  padding-top: 0;
  padding-bottom: 30px;
  .block {
    padding: 20px;
    margin: 10px 0;
  }
  .inner {
    width: 100%;
    height: 100%;
    float: left;
  }
  &.columns-3 {
    .block {
      width: 100%;
      @include tab {
        width: 33.33%;
      }
    }
  }
  &.columns-4 {
    .block {
      width: 100%;
      @include tab {
        width: 25%;
      }
    }
  }
  .photo {
    margin: 0 0;
    width: 100%;
    float: left;
    background: #e2e2e2;
    position: relative;
    * {
      margin: 0 0;
    }
    img {
      width: 100%;
      height: auto;
      float: left;
    }
    .image {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      @include backgroundImage(center);
    }
  }
  .info {
    width: 100%;
    float: left;
    padding: 10px 0;
    .name {
      margin: 0 0 3px;
      font-size: 15px;
      font-weight: 400;
      line-height: 1.2;
      color: $primary;
    }
    .jobtitle {
      font-size: 13px;
      line-height: 1.2;
      color: #2E2E2E;
    }
  }
  .block.no-photo {
    .photo:before {
      content:"Photo Coming Soon";
      display: block;
      width: 100%;
      text-align: center;
      padding: 20px;
      font-family: $font_secondary;
      font-size: 13px;
      font-weight: 400;
      letter-spacing: 1px;
      color: #a6a6a6;
      position: absolute;
      top: 50%;
      text-transform: uppercase;
      transform: translateY(-50%);
    }
  }
  .bio-link {
    margin-top: 15px;
    a {
      text-decoration: none;
      color: $color_link;
      font-size: 12px;
      position: relative;
      left: 2px;
      top: 0px;
      span {
        display: inline-block;
        transition: all ease .3s;
        position: relative;
        left: 2px;
        font-size: 11px;
      }
      &:hover {
        color: tint($color_link,40%);
        span {
          transform: translateX(5px);
        }
      }
    }
  }
  p:empty {
    display: none;
  }
}
.team-feeds {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  z-index: 10;
  @include tab {
    padding-left: 0;
    padding-right: 0;
  }
}
.wp-block-columns {
  margin: 0 0;
}
.wp-block-column.full-width-gray {
  max-width: 100%;
  background: $gray;
  padding: 30px 20px;
  .wp-block-column {
    max-width: 700px;
    width: 100%;
    padding: 30px 0 0;
    h2 {
      margin: 0 0;
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 1.3;
      color: $primary;
    }
  }
  .wp-block-buttons {
    padding-bottom: 30px;
    max-width: 700px;
    width: 100%;
    margin:25px auto 0;
  }
  .wp-block-button {
    a {
      display: inline-block;
      text-decoration: none;
      text-transform: uppercase;
      color: $primary;
      background: transparent;
      border: 1px solid $primary;
      border-radius: 0;
      padding: 7px 25px;
      &:hover {
        background: $primary;
        color: #FFF;
      }
    }
  }
}

.entry-title {
  min-height: 185px;
  position: relative;
  background: $gray;
  @include flexgroup();
  @include flexbox-justify(center);
  @include flexbox-align-items(center);
  .title-inner {
    width: 100%;
    position: relative;
    z-index: 5;
    .wrapper {
      max-width: 83%;
    }
  }
  .header-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include backgroundImage(center);
  }
}
body.subpage.page-template-default {
  background: #FFF;
  #content:after {
    display: none;
  }
}
// .entry-content {
//   .wrapper {
//     padding-top: 100px;
//     padding-bottom: 150px;
//     // &:before {
//     //   content:"";
//     //   display: block;
//     //   width: 77vw;
//     //   height: 100%;
//     //   position: absolute;
//     //   top: 0;
//     //   left: 50%;
//     //   transform: translateX(-50%);
//     //   background: #FFF;
//     //   z-index: 5;
//     // }
//   }
//   h2 {
//     font-size: 30px;
//     font-weight: 500;
//     line-height: 1.2;
//     margin:0 0 20px;
//     color: $primary;
//     position: relative;
//   }
//   .wp-block-column {
//     h2 {
//       border-bottom: 2px solid $primary;
//       padding-bottom: 15px;
//       top: -7px;
//     }
//   }
//   ul {
//     li {
//       font-size: 15px;
//       color: $primary;
//       margin:0 0 5px;
//     }
//   }
//   .wp-block-columns {
//     position: relative;
//     margin-top: 50px;
//     margin-bottom: 50px;
//     &:after {
//       display: block;
//       content:"";
//       width: 150vw;
//       height: 30px;
//       position: absolute;
//       top: 0;
//       left: -154vw;
//       background: $primary;
//     }
//     &:nth-child(odd) {
//       margin-bottom: 130px;
//       &:after {
//         left: 72vw;
//       }
//     }
//     .wp-block-column {
//       position: relative;
//       z-index: 10;
//     }
//   }
// }

.two-columns-style1 {
  position: relative;
  .wrapper {
    padding-top: 50px;
    padding-bottom: 40px;
    @include tab {
      padding-top: 90px;
      padding-bottom: 100px;
      max-width: 90%;
      width: 100%;
    }
  }
  .flexwrap {
    @include flexbox-justify(center);
    margin-left: -15px;
    margin-right: -15px;
    height: 65%;
  }
  .column {
    width: 100%;
    padding: 15px;
    &.text {
      h2 {
        font-size: 30px;
        font-weight: 500;
        line-height: 1.2;
        margin:0 0 20px;
        color: $primary;
        border-bottom: 2px solid $primary;
        padding-bottom: 15px;
        top: -7px;
        position: relative;
      }
      ul {
        li {
          color: $primary;
          margin: 8px 0;
        }
      }
    }
    &.image {
      position: relative;
      z-index: 10;
      figure {
        margin: 0 0;
        position: relative;
        z-index: 10;
        overflow: visible;
        &:before, &:after {
          content:"";
          display: block;
          width: 95%;
          height: 100%;
          position: absolute;
          top: 3vw;
        }
        &:before {
          background-color: $primary;
        }
        &:after {
          background-image:url('assets/images/symbol-white.svg');
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          opacity: 0.1;
        }

        img {
          width: 100%;
          height: auto;
          position:relative;
          z-index: 10;
        }
      }
    }
  }
  &.image-left {
    .flexwrap {
      @include tab {
        @include flexbox-direction(row-reverse);
      }
    }
    .column.text {
      padding-right: 10vw;
      @include tab {
        padding-right: 7%;
      }
    }
    .column.image {
      padding-left: 10vw;
      padding-right: 5vw;
      figure:before {
        margin-left: -5vw;
      }
      @include tab {
        padding-left: 5%;
        padding-right: 5%;
        figure {
          &:before, &:after {
            left: -4vw;
            margin: 0 0;
          }
        }
      }
    }
    &:before {
      content:"";
      display: block;
      width: 6%;
      height: 25px;
      background: $primary;
      position:absolute;
      top: 65px;
      right: 0;
      @include tab {
        top: 100px;
      }
    }
  }
  &.half {
    .column {
      @include tab {
        width: 50%;
      }
    }
  }
  &.image-right {
    &:before {
      content:"";
      display: block;
      width: 6%;
      height: 25px;
      background: $primary;
      position:absolute;
      top: 65px;
      left: 0;
      @include tab {
        top: 100px;
      }
    }
    .column.text {
      padding-left: 10vw;
      @include tab {
        padding-left: 7%;
      }
    }
    .column.image {
      padding-left: 10vw;
      padding-right: 5vw;
      figure:before {
        margin-left: -5vw;
      }
      @include tab {
        padding-left: 5%;
        padding-right: 5%;
        figure {
          &:before, &:after {
            right: -4vw;
            margin: 0 0;
          }
        }
      }
    }
  }
}



.two-columns-style2 {
  background: $gray;
  .column {
    width: 100%;
    padding: 15px;
    &.text {
      margin: 50px 0 0;
      @include tab {
        margin: 70px 0 50px;
        padding-left: 5vw;
      }
      h2 {
        font-size: 30px;
        font-weight: 500;
        line-height: 1.2;
        margin:0 0 20px;
        color: $primary;
        border-bottom: 2px solid $primary;
        padding-bottom: 15px;
        top: -7px;
        position: relative;
      }
      ul {
        li {
          font-size: 15px;
          color: $primary;
          margin: 8px 0;
        }
      }
    }
    &.image {
      position: relative;
      padding: 40px 0 60px;
      @include tab {
        padding: 0 0;
      }
      &:before,&:after {
        content:"";
        display: block;
        width: 70%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $primary;
      }
      &:after {
        background-image:url('assets/images/pattern.png');
        background-position: center;
        background-color: $primary;
      }
      figure {
        margin: 0 0;
        position: relative;
        z-index: 10;
        @include tab {
          margin: 70px 0 0;
        }
        img {
          width: 100%;
          height: auto;
          position: relative;
          top: 12px;
          box-shadow: 0 8px 17px rgba(0,0,0,0.25);
        }
      }
    }
  }
  &.half {
    .column {
      @include tab {
        width: 50%;
      }
    }
  }
  .flexwrap.reverse {
    @include flexbox-direction(row-reverse);
  }
}

.three-columns {
  background-color: $primary;
  overflow: hidden;
  position: relative;
  .heading {
    font-size: 30px;
    font-weight: 500;
    line-height: 1.2;
    margin: 0 0 30px;
    color: #FFF;
  }
  &:before {
    content:"";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image:url('assets/images/symbol-white.svg');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    opacity: 0.05;
  }
  .wrapper {
    padding-top: 50px;
    paddinb-bottom: 50px;
  }
  .columns {
    position: relative;
    z-index: 10;
    .flexwrap {
      @include flexbox-justify(center);
      margin-left: -15px;
      margin-right: -15px;
    }
    .block {
      width: 100%;
      position:relative;
      padding: 15px;
      @include tab {
        width: 33.33%;
      }
      .inner {
        width: 100%;
        height: 100%;
        float: left;
        background: #FFF;
        position: relative;
        overflow: hidden;
        box-shadow: 0 12px 15px rgba(0,0,0,0.2);
      }
      .col-image {
        width: 100%;
        float: left;
        position: relative;
        @include backgroundImage(center);
        background-color: #bebebe;
        &:before, &:after {
          content: "";
          display: block;
          width: 60%;
          height: 25px;
          position: absolute;
          bottom: -3px;
          background: #FFF;
        }
        &:before {
          left: -9.5vw;
          transform: skew(46deg);
          @include tab {
            left: -10%;
          }
        }
        &:after {
          right: -9.5vw;
          transform: skew(-46deg);
          @include tab {
            right: -10%
          }
        }
      }
      .col-text {
        width: 100%;
        float: left;
        padding: 10px 30px 10px;
        @include tab {
          padding: 10px 2vw 0;
        }
      }
      figure {
        margin: 0 0;
        width: 100%;
        float: left;
        position: relative;
        z-index: 10;
        img {
          width: 100%;
          height: auto;
          float: left;
        }
      }
    }
  }
  .bottom-text {
    color: #FFF;
    padding: 40px 0;
  }
}

.wp-block-image.size-full img {
  width: 100%;
  height: auto;
}

#main {
  position: relative;
  z-index: 10;
}

.contact-page {
  .entry-content {
    position: relative;
    .wrapper {
      padding-top: 30px;
      padding-bottom: 80px;
      z-index: 10;
      @include tab {
        min-height: 30em;
        padding-top: 70px;
        padding-bottom: 150px;
      }
    }
    &:before {
      content:"";
      display: block;
      width: 5vw;
      height: 25px;
      background: $primary;
      position: absolute;
      top: 30px;
      left: 0;
      @include tab {
        top: 70px;
      }
    }
  }
  .twoCols {
    h2 {
      font-size: 30px;
      font-weight: 500;
      line-height: 1.2;
      margin:0 0 20px;
      color: $primary;
      border-bottom: 2px solid $primary;
      padding-bottom: 15px;
      top: -7px;
      position: relative;
    }
    .left-col,
    .right-col {
      width: 100%;
      @include tab {
        width: 50%;
      }
    }
    .left-col {
      margin-bottom: 30px;
      padding-left: 8vw;
      @include tab {
        margin-bottom: 0;
        padding-right: 5vw;
      }
      @include mid {
        padding-left: 1.5vw;
      }
    }
  }

  .contact-data {
    margin: 0 0;
    padding: 0 20px;
    list-style: none;
    li {
      color: $primary;
      margin: 10px 0;
      position: relative;
      padding-left: 15px;
      a {
        display: inline-block;
        text-decoration: none;
        color: $primary;
        position: relative;
        &:hover {
          color: $secondary;
        }
      }
      i {
        display: inline-block;
        margin-right: 3px;
        position: absolute;
        top: 4px;
        left: 0;
        &.fa.fa-envelope {
          top: 6px;
          font-size: 10px;
        }
      }
    }
  }

  .map {
    position: relative;
    width: 100%;
    float: left;
    background: #F0F3F4;
    border: 1px solid #e6e6e6;
    box-shadow: 5px 5px 8px rgba(0,0,0,.08);
    img {
      width: 100%;
      height: auto;
      float: left;
    }
    iframe {
      width: 100%!important;
      height: 100%!important;
      margin: 0 0!important;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

#main.has-left-line {
  padding-top: 80px;
  padding-bottom: 100px;
  padding-left: 5vw;
  @include xxl {
    padding-left: 0;
  }
  &:before {
    content: "";
    display: block;
    width: 5vw;
    height: 25px;
    background: $primary;
    position: absolute;
    top: 87px;
    left: 0;
  }
}

body.single-team {
  .breadcrumb {
    position:absolute;
    top: -60px;
    left: 20px;
    a {
      color: #000;
      text-decoration: none;
      position: relative;
      display: inline-block;
      padding-left: 30px;
      i.arrow, i.arrow * {
        transition: width ease .3s;
      }
      i.arrow {
        display: inline-block;
        width: 22px;
        height: 12px;
        border: 1px solid #000;
        border-radius: 15px;
        position: absolute;
        top: 5px;
        left: 0;
        span {
          display: inline-block;
          width: 50%;
          height: 1px;
          background: #000;
          position: absolute;
          top: 50%;
          left: 60%;
          transform: translateX(-60%) translateY(-50%);
          &:before, &:after {
            content:"";
            display: block;
            width: 4px;
            height: 1px;
            background: #000;
            position: absolute;
            top: 0;
            left: -2px;
          }
          &:before {
            transform: translateY(-1px) rotate(-45deg);
          }
          &:after {
            transform: translateY(1px) rotate(45deg);
          }
        }
      }
      &:hover {
        padding-left: 33px;
        color: $primary;
        i.arrow {
          background: $primary;
          border-color: $primary;
          width: 25px;
          span {
            width: 60%;
            background: #FFF;
            &:before, &:after {
              background: #FFF;
            }
          }
        }
      }
    }
  }
  #main.has-left-line {
    padding-top: 130px;
    &:before {
      top: 140px;
    }
  }
  .page-content {
    position: relative;
    z-index: 10;
    .page-title {
      padding: 0 0;
      font-size: 35px;
      &:before {
        display: none;
      }
    }
    .entry-header {
      margin-bottom: 30px;
      .jobtitle {
        font-size: 18px;
      }
    }
  }
  .leftcol, .rightcol {
    width: 100%;
  }
  .leftcol {
    font-size: 15px;
    line-height: 1.5;
    @include tab {
      width: 60%;
      padding-right: 8vw;
    }
  }
  .rightcol {
    margin-top: 20px;
    @include tab {
      width: 40%;
      margin-top: 0;
    }
    figure {
      width: 100%;
      margin: 0 0;
      float: left;
      box-shadow: 5px 5px 8px rgba(0,0,0,.08);
      img {
        width: 100%;
        height: auto;
        float: left;
      }
    }
  }

  .top-group {
    padding-bottom: 20px;
    margin-bottom: 50px;
    border-bottom: 2px solid $primary;
    .contact-info {
      color: $primary;
      a {
        color: $primary;
        text-decoration: none;
        &:hover {
          color: $secondary;
        }
      }
    }
  }
  .certifications {
    .cert-info {
      margin: 30px 0;
    }
    h5 {
      font-size: 14px;
      font-weight: 500;
      color: $primary;
      margin: 0 0;
    }
    ul {
      margin: 0 0;
      padding: 0 0 0 15px;
      list-style: none;
      li {
        position: relative;
        padding-left: 12px;
        margin: 2px 0;
        &:before {
          content: "";
          display: inline-block;
          width: 6px;
          height: 6px;
          border-radius: 100px;
          position: absolute;
          top: 8px;
          left: 0;
          background: #b8b8b8;
        }
      }
    }
  }
}

#primary.has-sidebar-graphic {
  &:before, &:after {
    content: "";
    display: none;
    position: absolute;
    right: 0;
    height: 100%;
    @include tab {
      width: 35%;
      display: block;
    }
    @include mid {
      width: 25%;
      display: block;
    }
  }
  &:before {
    top: 0;
    background-color: #e5e5e5;
  }
  &:after {
    bottom: 0;
    background-image: url('assets/images/symbol-white.svg');
    background-size: contain;
    background-position: bottom left;
    background-repeat: no-repeat;
    background-color: transparent;
    opacity: .35;
  }
}

/* Sitemap */
.sitemap-page {
  #main {
    min-height: 40em;
  }
}
.sitemap-links {
  ul {
    @include tab {
      max-width: 700px;
      width: 100%;
      column-count: 2;
    }
    li {
      margin: 3px 0;
      @include tab {

      }
    }
    a {
      display: inline-block;
      text-decoration: none;
      color: $primary;
      font-size: 16px;
      &:hover {
        color: $secondary;
      }
    }
  }
}


/* 404 Page not Found */
body.error404 {
  #main {
    min-height: 40em;
  }
  .entry-title {
    background-color: transparent;
    .small-title {
      position: relative;
      font-family: $font_secondary;
      font-size: 18px;
      letter-spacing: 1px;
      color: $primary;
    }
    .page-title {
      padding-left: 0;
      &:before {
        display: none;
      }
    }
  }
  .content404 {
    font-size: 16px;
    .innerText {
      border-top: 2px solid $primary;
      padding-top: 30px;
    }
  }
  #sitemap-wrap {
    margin-top: 40px;
  }
}

/* FOOTER */
.site-footer {
  width: 100%;
  float: left;
  background: $primary;
  color: #FFF;
  padding-top: 30px;
  padding-bottom: 30px;
  .footcol.left {
    width: 90px;
    img {
      width: 100%;
      height: auto;
    }
  }
  .flexwrap {
    @include flexbox-justify(center);
    @include flexbox-align-items(center);
    @include tab {
      @include flexbox-justify(space-between);
    }
  }
  .social-media {
    text-align: center;
    @include tab {
      text-align: right;
    }
    a {
      display: inline-block;
      text-decoration: none;
      font-size: 20px;
      line-height: 1;
      color: #FFF;
      margin: 5px 10px;
      opacity: 0.5;
      @include tab {
        margin-left: 10px;
        margin-right: 0;
      }
      &:hover {
        opacity: 1;
      }
    }
  }
  .social-media.nolinks {
    width: 100px;
  }
  ul.menu {
    .foot-link {
      a i {
        display: inline-block;
        margin-right: 5px;
      }
    }
  }
}
#footer-navigation {
  width: 100%;
  margin: 30px 0;
  @include tab {
    width: auto;
    margin: 0 0;
  }
  ul.menu {
    display: block;
    text-align: center;
    margin:0 0;
    padding: 0 0;
    list-style: none;
    text-align: center;
    width: 100%;
    @include tab {
      display: inline-block;
      text-align: left;
      width: auto;
    }
  }
  ul.menu li {
    display: block;
    width: 100%;
    @include tab {
      display: inline-block;
      width: auto;
    }
  }
  ul.menu li ul {
    display: none;
  }
  ul.menu a {
    display: block;
    text-decoration: none;
    color: #FFF;
    font-size: 12px;
    line-height: 1.1;
    padding: 5px 15px;
    &:hover {
      opacity: 0.5;
    }
  }
}