div,h1,h2,h3,h4,h5,h6,p,li,a,span,strong {
	overflow-wrap: normal;
    word-wrap: normal;
    -ms-word-break: normal;
    word-break: normal;
    word-break: normal;
    -ms-hyphens: none;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    hyphens: none;
    page-break-inside: avoid;
}
*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
pre {
	font-family: $font_pre;
	font-size: 13px;
	line-height: 1.4;
	color: #000;
	display: block;
	position: relative;
	z-index: 1000;
	border: 1px solid #FFF;
	margin: 5vw;
	padding: 20px;
}
body {
	font-family: $font_primary;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
	color: $color_text_main;
}
section, div {
	&:focus {
		outline: 0;
	}
}
a,input,button,select,textarea {
	transition: all ease .3s;
}
a {
	color: $blue;
	text-decoration: underline;
	&:hover {
    color: tint($blue,20%);
	}
}
.cf:before, .cf:after {
    content: " "; 
    display: table; 
}
.cf:after { clear: both; }
.cf { *zoom: 1; }
.text-center {text-align:center;}
.fw,.full {width:100%!important;float:left !important}
.nomtop {margin-top:0!important;}
.nombottom {margin-bottom:0!important;}
/* Text meant only for screen readers. */
.sr {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	&:focus {
		background-color: #333;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		color: #FFF;
		display: block;
		@include font-size(0.875);
		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}
}
.flexwrap {
	position: relative;
	@include flexgroup();
}
.site {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 30em;
}
.wp-block-column,
.wrapper {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
	position: relative;
	z-index: 10;
	&.narrow {
		max-width: 900px;
	}
	&.sm {
		max-width: 800px;
	}
	&.wide {
		max-width: 80%;
    @include tab {
      max-width: 90%;
    }
	}
}

/* HEADER */
.site-header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  .wrapper.wide {
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 100%;
    @include tab {
      max-width: 90%;
    }
  }
  .flexwrap {
    @include flexbox-justify(space-between);
    @include flexbox-align-items(center);
  }
}
body.home .site-header {
  position: absolute;
}
#site-logo {
  display: inline-block;
  width: auto;
  h1 {
    margin: 0 0;
    font-size: 20px;
    line-height: 1.2;
  }
  a.custom-logo-link {
    display: block;
    width: 250px;
    img {
      width: 100%;
      height: auto;
    }
  }
}
#site-navigation {
  @include flexgroup();
  nav {
    display: block;
    width: 100%;
  }


  ul.menu {
    margin: 0 0;
    padding: 0 0;
    list-style: none;
  }

  #navigation {
    ul.menu {
      display: inline-block;
      float: right;
    }
    ul.menu > li {
      float: left;
    }
    ul.menu a {
      display: block;
      text-decoration: none;
      color: #000;
    }
    ul.menu > li > a {
      padding: 5px 10px;
    }
    ul.menu > li:hover > a {
      color: $primary;
    }
    ul.menu > li.current_page_item > a {
      color: $primary;
    }
  }

  #topnav {
    ul.menu {
      display: inline-block;
      float: right;
      position: relative;
      top: -5px;
    }
    ul.menu > li {
      display: inline-block;
    }
    a {
      display: inline-block;
      text-decoration: none;
      font-size: 12px;
      color: #000;
      padding: 3px 10px;
      &:hover {
        color: $primary;
      }
      i {
        display: inline-block;
        margin-right: 5px;
      }
    }
  }
}

/* MENU */
.mobile-menu {
  display: none;
  overflow: hidden;
  width: 30px;
  height: 34px;
  position: absolute;
  top: 0;
  right: 10px;
  i {
    overflow: hidden;
    display: inline-block;
    text-indent: -99em;
  }
  span.bar, 
  span.bar:before,
  span.bar:after {
    width: 100%;
    height: 3px;
    background: $primary;
    position: absolute;
    transition: all ease .3s;
  }
  span.bar {
    top: 50%;
    transform: translateY(-50%);
  }
  span.bar:before,
  span.bar:after {
    content:"";
  }
  span.bar:before {
    transform: translateY(-10px);
  }
  span.bar:after {
    transform: translateY(10px);
  }
}

@media screen and (max-width: $tabwidth) {
  .mobile-menu {
    display: block;
  }
  #site-navigation {
    display: block;
    max-width: 300px;
    width: 100%;
    position: fixed;
    top: 0;
    right: -100vw;
    height: 100%;
    background: #FFF;
    z-index: 9999;
    padding-top: 25px;
    transition: all ease .3s;
    overflow: auto;
    &.show {
      right: 0;
    }
  }
  #closeMobileNav {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 50;
    &:before, &:after {
      content:"";
      display: block;
      width: 100%;
      height: 2px;
      background: #000;
      position: absolute;
      top: 50%;
    }
    &:before {
      transform: translateY(-50%) rotate(45deg);
    }
    &:after {
      transform: translateY(-50%) rotate(-45deg);
    }
  }
  nav,
  ul.menu,
  ul.menu li {
    width: 100%;
    float: left;
  }
  nav.topnav {
    margin-bottom: 0;
    padding-bottom: 15px;
    // border-bottom: 1px solid $primary;
    
    li {
      padding:0 20px;
    }
    li:first-child a {
      font-size: 13px!important;
      padding: 5px 10px!important;
      border: 1px solid $primary;
      color: $primary!important;
      &:hover {
        background: $primary;
        color: #FFF!important;
      }
    }
  }
  nav#navigation {
    padding-bottom: 30px;
  }
  #site-navigation #navigation ul.menu>li>a {
    padding: 5px 20px;
    font-size: 16px;
  }
  body.mobile-menu-open {
    .site-header {
      &:after {
        content:"";
        display: block;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0,0,0,.65);
        transition: all ease .3s;
        @include animateThis(1s);
        @include animateEffect(fadeIn);
      }
    }
  }
  #home-slider .slide-text .wrap {
    max-width: 100%!important;
    .inline {
      display: block;
      width: 100%;
      text-align: center;
    }
  }
  body.logged-in.admin-bar {
    #site-navigation {
      padding-top: 70px;
    }
    #closeMobileNav {
      top: 66px;
    }
  }
}
@media screen and (max-width: $portrait) {
  #site-navigation {
    max-width: 85%;
  }
}


/* HOME SLIDER */
#home-slider {
  width: 100%;
  height: 100vh;
  position: relative;
  .swiper,.swiper-wrapper,.swiper-slide {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    position: relative;
  }
  .slide-image {
    width: 100%;
    height: 100%;
    @include backgroundImage(center);
    background-color: #CCC;
    @include mid {
      width: 75vw;
    }
  }
  .slide-text {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    @include flexgroup();
    @include flexbox-align-items(center);
    .textwrap {
      max-width: 90%;
      width: 100%;
      padding: 0 20px;
      margin:0 auto;
      color: $primary;
      font-family: $font_secondary;
      font-size: 4vh;
      font-weight: 500;
      line-height: 1.2;
      @include mid {
        font-size: 7vh;
      }
    }
    .wrap {
      max-width: 50vw;
      width: 100%;
      float: right;
    }
    .inline {
      display: inline-block;
      float: right;
      position: relative;
      @include animateThis(1s);
      @include tab {
        padding-right: 3vw;
        &:after {
          content:"";
          display: block;
          width: 2px;
          height: 100%;
          position: absolute;
          top: 0;
          right: 0;
          transition: all ease .3s;
          background: $primary;
        }
      }
    }
    p, h1, h2, h3, h4, h5 {
      margin: 0 0;
    }
    h1, h2, h3, h4, h5  {
      position: relative;
      top: -1vh;
      font-weight: 600;
    }
  }
  .swiper-slide-active {
    .inline {
      @include animateEffect(fadeInRight);
      @include tab {
        &:after {
          animation-delay: 2s;
          animation: vLineEffect 1.3s linear;
        }
      }
    }
  }
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border: 1px solid $primary;
    opacity: 1;
    background: rgba(255,255,255,.3);
    &.swiper-pagination-bullet-active {
      background: $primary;
    }
  }
}

.home-intro {
  background: $primary;
  @include tab {
    padding-left: calc(5% + 20px);
  }
  p {
    margin: 0 0 15px;
  }
  .textwrap {
    color: #000;
    position: relative;
    background: $gray;
  }
  .hometext {
    position: relative;
    padding: 50px 40px 50px 20px;
    width: 100%;
    z-index: 10;
    line-height: 1.4;
    @include tab {
      width: 70vw;
    }
  }
  .graphic {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image:url('assets/images/symbol-white.svg');
    background-position: top center;
    background-size: cover;
    background-repeat:no-repeat;
    opacity: 0.45;
    @include tab {
      width: 25vw;
      opacity: 1;
    }
  }
}

.home-blocks {
  .flexwrap {
    margin: 0 -5px;
    @include flexbox-justify(space-around);
  }
  .block {
    width: 100%;
    padding: 10px;
    @include tab {
      width: 33.33%;
    }
    a {
      display: block;
      width: 100%;
      float: left;
      position: relative;
      overflow: hidden;
      .image {
        display: block;
        width: 100%;
        float: left;
        position: relative;
        overflow: hidden;
        .bg {
          display: block;
          width: 100%;
          height: 100%;
          float: left;
          transition: all ease .3s;
          position: absolute;
          top: 0;
          left: 0;
          transform: scale(1.1);
          @include backgroundImage(center);
        }
        img {
          width: 100%;
          height: auto;
          float: left;
        }
      }
      .title {
        display: block;
        width: 100%;
        float: left;
        text-align: center;
        padding: 15px 15px;
        font-size: 15px;
        line-height: 1.2;
        color: #000;
        background: $gray;
        position: relative;
        span {
          display: block;
          position: relative;
          z-index: 10;
          top: -4px;
        }
        &:before, &:after {
          content:"";
          display: block;
          width: 60%;
          height: 20px;
          position: absolute;
          top: -20px;
          background: $gray;
        }
        &:before {
          left: -10vw;
          transform: skew(40deg);
          @include tab {
            left: -2.2vw;
          }
        }
        &:after {
          right: -10vw;
          transform: skew(-40deg);
          @include tab {
            right: -2.2vw;
          }
        }
      }
      &:hover {
        .image {
          .bg {
            transform: scale(1.2);
          }
        }
      }
    }
  }
  .hb-left {
    padding: 50px 20px;
  }
  .hb-right {
    width: 100%;
    float: left;
    img {
      width: 100%;
      height: auto;
      @include tab {
        display: none;
      }
    }
  }
  .hb-left
  .hb-right {
    height: 100%;
  }
  .hb-right {
    .image {
      width: 100%;
      height: 100%;
      @include backgroundImage(center);
      background-color: $gray;
    }
  }

  &.twocol {
    @include flexgroup();
    .hb-right {
      width: 100%;
      @include tab {
        width: 25vw;
      }
    }
    .hb-left {
      width: 100%;
      @include tab {
        width: 75vw;
        padding-left: calc(5% + 20px);
        padding-right: calc(5% + 20px);
      }
    }
  }
  
  
}

@keyframes vLineEffect {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }

/* INNER PAGE */
body.subpage {
  .site-header {
    background: #FFF;
    .wrapper.wide {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .flexwrap {
      @include flexbox-align-items(center);
    }
  }
  #content {
    position: relative;
    &:after {
      content:"";
      display: block;
      width: 100%;
      height: 50%;
      position: absolute;
      top: 0;
      left: 0;
      background: -moz-linear-gradient(top,  rgba(0,0,0,0.36) 0%, rgba(0,0,0,0) 100%);
      background: -webkit-linear-gradient(top,  rgba(0,0,0,0.36) 0%,rgba(0,0,0,0) 100%);
      background: linear-gradient(to bottom,  rgba(0,0,0,0.36) 0%,rgba(0,0,0,0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c000000', endColorstr='#00000000',GradientType=0 );
      opacity: 0.2;
    }
  }
  #primary {
    min-height: 30em;
    position: relative;
    z-index: 15;
    padding-top: 50px;
  }
}

h1.page-title {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.2;
  margin: 0 0;
  color: $primary;
  position: relative;
  padding-left: 30px;
  &:before {
    content:"";
    display: block;
    width: 2px;
    height: 100%;
    background: $primary;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.blocks-wrapper {
  @include flexgroup();
  margin-left: -20px;
  margin-right: -20px;
  padding-top: 30px;
  padding-bottom: 30px;
  .block {
    padding: 20px;
    margin: 10px 0;
  }
  .inner {
    width: 100%;
    height: 100%;
    float: left;
  }
  &.columns-3 {
    .block {
      width: 100%;
      @include tab {
        width: 33.33%;
      }
    }
  }
  &.columns-4 {
    .block {
      width: 100%;
      @include tab {
        width: 25%;
      }
    }
  }
  .photo {
    margin: 0 0;
    width: 100%;
    float: left;
    background: #e2e2e2;
    position: relative;
    * {
      margin: 0 0;
    }
    img {
      width: 100%;
      height: auto;
      float: left;
    }
    .image {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      @include backgroundImage(center);
    }
  }
  .info {
    width: 100%;
    float: left;
    padding: 10px 0;
    .name {
      margin: 0 0 3px;
      font-size: 15px;
      font-weight: 400;
      line-height: 1.2;
      color: $primary;
    }
    .jobtitle {
      font-size: 13px;
      line-height: 1.2;
      color: #2E2E2E;
    }
  }
  .block.no-photo {
    .photo:before {
      content:"Photo Coming Soon";
      display: block;
      width: 100%;
      text-align: center;
      padding: 20px;
      font-family: $font_secondary;
      font-size: 13px;
      font-weight: 400;
      letter-spacing: 1px;
      color: #a6a6a6;
      position: absolute;
      top: 50%;
      text-transform: uppercase;
      transform: translateY(-50%);
    }
  }
  .bio-link {
    margin-top: 15px;
    a {
      text-decoration: none;
      color: $color_link;
      font-size: 12px;
      position: relative;
      left: 2px;
      top: 0px;
      span {
        display: inline-block;
        transition: all ease .3s;
        position: relative;
        left: 2px;
        font-size: 11px;
      }
      &:hover {
        color: tint($color_link,40%);
        span {
          transform: translateX(5px);
        }
      }
    }
  }
  p:empty {
    display: none;
  }
}
.team-feeds {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  z-index: 10;
}
.wp-block-columns {
  margin: 0 0;
}
.wp-block-column.full-width-gray {
  max-width: 100%;
  background: $gray;
  padding: 30px 20px;
  .wp-block-column {
    max-width: 700px;
    width: 100%;
    padding: 30px 0 0;
    h2 {
      margin: 0 0;
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 1.3;
      color: $primary;
    }
  }
  .wp-block-buttons {
    padding-bottom: 30px;
    max-width: 700px;
    width: 100%;
    margin:25px auto 0;
  }
  .wp-block-button {
    a {
      display: inline-block;
      text-decoration: none;
      text-transform: uppercase;
      color: $primary;
      background: transparent;
      border: 1px solid $primary;
      border-radius: 0;
      padding: 7px 25px;
      &:hover {
        background: $primary;
        color: #FFF;
      }
    }
  }
}

/* FOOTER */
.site-footer {
  width: 100%;
  float: left;
  background: $primary;
  color: #FFF;
  padding-top: 30px;
  padding-bottom: 30px;
  .footcol.left {
    width: 90px;
    img {
      width: 100%;
      height: auto;
    }
  }
  .flexwrap {
    @include flexbox-justify(center);
    @include flexbox-align-items(center);
    @include tab {
      @include flexbox-justify(space-between);
    }
  }
  .social-media {
    text-align: center;
    @include tab {
      text-align: right;
    }
    a {
      display: inline-block;
      text-decoration: none;
      font-size: 20px;
      line-height: 1;
      color: #FFF;
      margin: 5px 10px;
      opacity: 0.5;
      @include tab {
        margin-left: 10px;
        margin-right: 0;
      }
      &:hover {
        opacity: 1;
      }
    }
  }
  .social-media.nolinks {
    width: 100px;
  }
  ul.menu {
    .foot-link {
      a i {
        display: inline-block;
        margin-right: 5px;
      }
    }
  }
}
#footer-navigation {
  width: 100%;
  margin: 30px 0;
  @include tab {
    width: auto;
    margin: 0 0;
  }
  ul.menu {
    display: block;
    text-align: center;
    margin:0 0;
    padding: 0 0;
    list-style: none;
    text-align: center;
    width: 100%;
    @include tab {
      display: inline-block;
      text-align: left;
      width: auto;
    }
  }
  ul.menu li {
    display: block;
    width: 100%;
    @include tab {
      display: inline-block;
      width: auto;
    }
  }
  ul.menu li ul {
    display: none;
  }
  ul.menu a {
    display: block;
    text-decoration: none;
    color: #FFF;
    font-size: 12px;
    line-height: 1.1;
    padding: 5px 15px;
    &:hover {
      opacity: 0.5;
    }
  }
}